# <h1> Hello world</h1>
# <h2> Hi, </h2>
# <%=@name %>

# <ul>
# <% @friend.each do |friend|%>
#    <li><%= friend %></li>
# <% end %>
# </ul>
# #共用版面


# <h1>BMI</h1>
# <form action="/bmi" method="post"> 

# 身高: <input type="text" name="height"></br>
# 體重: <input type="text" name="weight">
# <button type="summit">計算</button>
# </form>

 
<% if session[:user9527] %>
  已登入, hi <%= session[:user9527] %>
<% else %>
<form action="/login" method="post"> 
帳號: <input type="text" name="username"></br>
密碼: <input type="password" name="password">
<button type="summit">登入</button>
</form>
<% end %>

