<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homework_1112</title>
    <style>
         *{
            margin: 0;
            padding: 0;
            list-style: none;
          }
        .content{
            width:800px;
            color: blue;
            background-color:lavender;
            margin:auto;
            padding:10px 0;
        }
        .content h1{
            text-align:center;
            font-size:42px;
            margin-bottom: 10px;
        }
        table{
            border:lightseagreen solid;
            width:600px;
            padding:10px 0px;
            text-align: center;
            margin: auto;
            margin-bottom: 10px;
            border
        }
        .thead{
            color:red;
        }
        .tbody{
            color:blue;
            background-color: cornflowerblue;
            padding: 2px;
        }
    </style>
</head>
<body>
    <%=yield %> 
    <!-- 共用版面設計 -->

</body>
</html>